extends layout
//- jakby tu usunał extends oraz block i pozbył sie spacji jak w sass w h1 i p to by dzialalo i nie trzba byłoby podpinac pod to layoutu w sensie by nie było go a tam sa pzecież ansze styleshhet 
//- iemusi byc block content to ejst zwykął nazwa ale musi sie okrywac potem 
block content
  h1= title
  p Welcome to #{title}
